.listSearchContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeContainer table{
    margin-top: 15px !important;
}

.listSearchContainer button{
    margin-left: 10px;
}

.searchField.ant-input-affix-wrapper{
    width: 45% !important;
}

.listSearchContainer div:last-of-type{
    width: 100%;
}

.listSearchContainer div:last-of-type button{
    float: right;
}