.submitContentContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
}

.submitContentContainer button {
    margin-right: 10px;
    margin-top: 15px;
}


