.tableListContainer table{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    position: relative;
    clear: both;
    border: 1px solid #e8e8e8;
    width: 100% !important;
    border-radius: 4px 4px 0 0;
}


.tableListContainer table thead {
    width: 100%;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #fafafa;
}

.tableListContainer table thead th{
    padding: 12px 8px;
    border-right: 1px solid #e8e8e8;
}

.tableListContainer table tr {
    border: 1px solid #e8e8e8;
    border-radius: 4px 4px 4px 4px;
}

.tableListContainer table tr td{
    border-right: 1px solid #e8e8e8;
    overflow-wrap: break-word;
    padding: 12px 8px;
}

.listSearchContainer button {
    margin-left: 10px;
}

.searchField.ant-input-affix-wrapper {
    width: 45% !important;
}

.listSearchContainer div:last-of-type {
    width: 100%;
}




