@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
body {
    background: #E5E6F0 !important;
    -webkit-font-smoothing: antialiased;
}

html, body, #root {
    height: 100%;
    overflow: hidden;
}

body, input, button {
    font-family: Roboto, sans-serif;
}

.loadIcon {
    position: absolute !important;
    bottom: 4%;
    left: 94%;
}

.buttonEdit {
    color: #ffffff !important;
    background-color: #f8c734 !important;
}

.button-danger {
    color: #ffffff !important;
    background: #e5473b !important;
}

form .input-container label {
    color: #ACACAC;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

form .input-container {
    margin-top: 10px;
}

.titleForm {
    display: flex;
    align-items: center;
    justify-content: left;
}

.titleForm i {
    margin-right: 10px;
    font-size: 25px;
}

/* width */

::-webkit-scrollbar {
    width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.listSearchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.homeContainer table {
    margin-top: 15px !important;
}

.buttonAddContainer button {
    position: absolute;
    left: calc(100% - 71px);
    top: 18.5%;
}
